{% extends "CRGSBRBundle:Home:accueil.html.twig" %}

{% block title %}
    Modifier mon profil
{% endblock %}

{% block body %}
    <h3 class="text-center">Informations personnelles</h3>

    <hr> 
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}

        <div class="col-sm-3">

            {# Affichage des erreurs pour ce champ précis. #}

            {# Génération de l'input. #}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.nom) }}
        </div>
    </div>

    <div class="form-group">

        {{ form_label(form.prenom, "Prénom", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}

        <div class="col-sm-3">
            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.prenom) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.adresse, "Adresse", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}

        <div class="col-sm-3">
            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.adresse) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.cp, "Code Postale", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}

        <div class="col-sm-3">
            {{ form_widget(form.cp, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.cp) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}

        <div class="col-sm-3">
            {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.ville) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.dateEmbauche, "Date d'embauche", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}

        <div class="col-sm-3">
            {{ form_widget(form.dateEmbauche, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.dateEmbauche) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.username, "Nom d'utilisateur", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}

        <div class="col-sm-3">
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.username) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.mdp, "Mot de passe", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}

        <div class="col-sm-3">
            {{ form_widget(form.mdp, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.mdp) }}
        </div>
    </div>

    <div class="text-center">
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.Mettre_à_jour, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>

    {# Génération automatique des champs pas encore écrits.
       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
       et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}


    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}

{% endblock %}